<p>Lists/index.html.erb</p>

    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.blogs.es/c9929c/netflix-cine/1366_2000.jpg);">
    <div class="container">
  <div class="d-flex align-items-right justify-content-between mb-2">
<p class = "text-left"><%= link_to 'Create a movie list', new_list_path %></p>
    
  </div>
<p class = "text-left">My Lists:</p>
    
</div>
 
  
  <div class = "text-center">
    <% @lists.each do |list| %>
    <div class = "row">
      <div class="co-12 colsm-6 col-md-4 mb-3">
        <%= link_to list_path(list), class:'text-decoration-none' do %>
                     <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>

    </div>
    </div>

</div>
  </div>
